<!DOCTYPE html>
<meta charset="UTF-8">
<link rel="stylesheet" href="login.css">
<body>
    <div id="window">
        <div id="top_size">
            <h3>Hello!</h3>
            <h3>Welcome We Index</h3>
        </div>
        <form id="input">
            <input type="text" id="user_name" name="name" placeholder="your name~">
            <input type="text" id="user_pw" name="pw" placeholder="your password~">
            <p>
                <button id="login">登录</button>
                <button id="enroll" >注册</button>
            </p>
        </from>   
    </div>
</body>